*.dart linguist-detectable=true
*.rust linguist-detectable=true
rust_builder/** linguist-generated=true
pubspec.lock linguist-generated=true

# Database generated code
*.cpp linguist-generated=true
*.h linguist-generated=true
*.hpp linguist-generated=true
*.swift linguist-generated=true
*.m linguist-generated=true
*.mm linguist-generated=true
*.java linguist-generated=true
*.kt linguist-generated=true
*.cs linguist-generated=true
*.ts linguist-generated=true
*.js linguist-generated=true
*.html linguist-generated=true
*.cc linguist-generated=true

# CMake files
CMakeLists.txt linguist-generated=true
*.cmake linguist-generated=true
*.cmake.in linguist-generated=true
CMakeCache.txt linguist-generated=true
CMakeFiles/** linguist-generated=true